args
arrow
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
Babel
beautifulsoup4
cairocffi
CairoSVG
certifi
cffi
chardet
clint
constantly
cryptography
cssselect2

defusedxml
dj-database-url
Django
django-admin-honeypot
django-allauth
django-appconf
django-channels
django-ckeditor
crispy_bootstrap4
django-crispy-forms
django-debug-toolbar
django-encrypted-model-fields
django-filter
django-haystack
django-hosts
django-js-asset
django-markdown
django-phonenumber-field
django-redis
django-request
django-softdelete
django-tables2
django-taggit
django-urlcrypt
django-weasyprint
django-widget-tweaks
djangorestframework
easy-thumbnails
elasticsearch
googledrivedownloader
holidays
html5lib
hurry.filesize
hyperlin
idna
incremental==17.5.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.0
mysqlclient
numpy
oauthlib==3.0.1
pandas
phonenumbers==8.10.5
phonenumberslite==8.8.8
Pillow
pipenv==2018.11.26
pycparser==2.19
PyHamcrest==1.9.0
Pyphen==0.9.5
PySocks==1.6.8
pysolr==3.8.1
python-dateutil==2.7.5
python-decouple==3.1
python3-openid==3.1.0
pytube==9.4.0
pytz==2018.9

redis==3.1.0
reportlab
requests==2.21.0
requests-oauthlib==1.2.0

serious-django-permissions==0.6
six==1.12.0
soupsieve==1.7.3
South==1.0.2
sqlparse==0.2.4
tinycss2==1.0.1
tweepy==3.7.0
txaio==18.8.1
urllib3==1.24.1
virtualenv==16.0.0
virtualenv-clone==0.5.1
WeasyPrint==45
webencodings==0.5.1
wget==3.2
Whoosh==2.7.4
wheel
zope.interface
whitenoise
